html, body {
  font-family: "Helvetica", "Arial", sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  height: 100%;
  width: 100%;
  position: fixed;
  margin: 0;
  height: 100%;
  overflow: hidden;
}

a, a:visited {
  color: inherit;
  text-decoration :none;
  display: flex;
  align-items: center;
}

h1, h2, h3, h4, h5, p {
  margin: 0px;
}

h3 {
  font-weight: 600;
}

tr {
  outline: none;
  border: none;
  height: 2.6em;
  max-height: 2.6em;
  font-size: 19px;
  transition-property: background-color;
  transition-timing-function: linear;
  transition-duration: 0.2s;
}

tbody {
  position: relative;
  overflow: auto;
}

tr:hover {
  background-color: rgba(0, 0,0, 0.4);
  cursor: pointer;
}

td {
  padding: 0;
  height: 2.6em;
  max-height: 2.6em;
}

select {
  color: white;
  background-color: rgba(0,0, 0, 0.8);
  border: none;
  font-size: 14px;
}

option:hover {
  background-color: rgba(0,0, 0, 0.8);
}

input {
  border-width: 0px;
  font-size: 14px;
}

.navbar {
  color: rgb(255, 255, 255);
  font-weight: bolder;
  position: fixed;
  padding: 24px 24px 5px;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 14em;
  background-color: rgba(0,0, 0, 0.8);
  z-index: 2;
  overflow: auto;
}

.main {
  color: white;
  text-align: center;
  padding: 32px 1% 32px 23%;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgb(45, 60, 52), rgb(0, 0, 0));
  z-index: 1;
  background-size: cover;
}

.nav-links {
  margin-bottom: 2px;
}

.nav-link {
  color: rgb(170, 170, 170);
  display: flex;
  margin-left: 5px;
  transition: 0.4s;
}

.nav-link:hover {
  color: white;
  cursor: pointer;
}

.fas {
  margin: 0px 20px 20px 0px;
  font-size: 22px;
}

.fa-home {
  margin: 0px 10px 3px 0px;
  font-size: 36px;
}

.fa-city {
  margin-right: 19px;
}

.fa-check {
  margin-right: 24px;
}

.fa-times {
  margin-right: 30px;
}

.recently-rejected {
  color: rgb(170, 170, 170);
  line-height: 20px;
  letter-spacing: .015em;
  margin-bottom: 16px;
  border-top: 1px solid #404040;
  padding: 1.5vh 0 0 0;
}

.recently-favorited {
  border-top: 1px solid #404040;
  padding: 1.5vh 0 0 0;
  color: rgb(170, 170, 170);
  line-height: 20px;
  letter-spacing: .015em;
  margin-bottom: 3vh;
}

.recently-rejected-cities {
  height: 22.5vh;
  overflow-y: auto;
}

.recently-favorited-cities {
  height: 22.5vh;
  overflow-y: auto;
}

.recently-rejected-city {
  margin-bottom: 18px;
  font-weight: 350;
  transition: 0.4s;
  letter-spacing: .055em;
  font-size: 17px;
}

.recently-favorited-city {
  margin-bottom: 18px;
  font-weight: 350;
  transition: 0.4s;
  letter-spacing: .055em;
  font-size: 17px;
}

.recently-rejected-city:hover {
  color: white;
  cursor: pointer;
}

.recently-favorited-city:hover {
  color: white;
  cursor: pointer;
}

.nav-profile {
  position: fixed;
  bottom: 20px;
  display: flex;
  align-items: center;
  padding: 1.5vh 0 0 0;
  border-top: 1px solid #404040;
  width: 224px;
}

.nav-profile:hover {
  cursor: pointer;
}

.table-search {
  width: 67%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  margin-bottom: 1.5vh;
}

.data-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-field {
  width: 140px;
  height: 30px;
  border-radius: 50px;
  padding-left: 10px
}

.fa-sort {
  margin: 0;
}

.table-header {
  transition-property: color;
  transition-timing-function: linear;
  transition-duration: 0.2s;
}

.table-header:hover {
  color: rgb(27, 176, 74);
  cursor: pointer;
}

.button {
  font-size: 14px;
  color: white;
  border: none;
  width: 150px;
  height: 30px;
  border-radius: 50px;
  background-color: rgba(0, 0,0, 0.8);
  transition-property: background-color;
  transition-timing-function: linear;
  transition-duration: 0.2s;
}

.button:hover {
  background-color: rgb(27, 176, 74);
  cursor: pointer;
}

.landing-main-section-header {
  font-size: 3.1vh;
}

.landing-input {
  font-size: 2.2vh;
  margin-top: 2.5vh;
  border-radius: 4px;
  width: 18vw;
}

.landing-button {
  background-color: rgb(27, 176, 74);
}

.landing-button:hover {
    background-color: rgb(25, 153, 65);
}

.rejection {
  color: red;
}

#favorite {
  color: rgb(27, 176, 74);
}

#nav-header {
  border: none;
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}

#cities-nav-link {
  color: rgb(27, 176, 74);
}

#recently-rejected-header {
  letter-spacing: 2px;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 12px;
}

#recently-favorited-header {
  letter-spacing: 2px;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 12px;
}

#profile-picture {
  width: 36px;
  height: 36px;
  margin-right: 12px;
  border-radius: 50%;
  background-color: rgba(0,0,0,.15);
  background-size: cover;
  overflow: hidden;
  position: relative;
}

#nav-header:hover {
  cursor: pointer;
}

#main-section-header {
  font-size: 28px;
  margin-bottom: 1em;
}

#city-table {
  width: 80%;
  margin-bottom: 25px;
  border-collapse: collapse;
}

#table-container {
  width: 95%;
  height: 79vh;
  padding-left: 12em;
  margin-bottom: 30px;
  position: relative;
  overflow: auto;
}

#favorite-table-icon {
  margin: 0 10px 0 5px;
}

#reject-table-icon {
  margin: 0 10px 0 5px;
}

#table-header:hover {
  background-color: rgba(0, 0, 0, 0.0);
  cursor: default;
}

#favorite-table-icon:hover {
  color: green;
}

#reject-table-icon:hover {
  color: rgb(176, 39, 27);
}

#state-dropdown {
  width: 150px;
  height: 30px;
  border-radius: 15px;
  transition-property: background-color;
  transition-timing-function: linear;
  transition-duration: 0.2s;
}

#state-dropdown:hover {
  background-color: rgb(27, 176, 74);
}

#rank-header {
  width: 6vw;
}

#search-header {
  margin-bottom: 8px;
}

#filter-header {
  margin-bottom: 8px;
}

#landing-page {
  color: white;
  text-align: center;
  padding: 40px;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgb(45, 60, 52), rgb(0, 0, 0));
  z-index: 1;
  background-size: cover;
}

#landing-header {
  font-size: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1vh;
}

#landing-logo {
  font-size: 6vh;
}

#landing-main {
  display: flex;
  height: 76vh;
}

#landing-main-left {
  width: 50%;
  border-right: 1px solid #404040;
}

#landing-main-right {
  width: 50%;
}

#slogan {
  font-size: 2.3vh;
  margin-bottom: 5vh;
  color: rgb(170, 170, 170);
}

#landing-main-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#landing-main-right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#login-button {
  font-size: 2.25vh;
  margin-top: 1.8vh;
  width: 175px;
  height: 40px;
}

#register-button {
  font-size: 2.25vh;
  margin-top: 1.8vh;
  width: 175px;
  height: 40px;
}
