<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/index.css">
  </head>
  <body>
    <section id="landing-page">
      <section>
        <div id="landing-header">
          <i class="fas fa-home" id="landing-logo"></i><h1>WhereTo?</h1>
        </div>
        <p id="slogan">for planning your next move</p>
      </section>

      <div id="landing-main">
        <section id="landing-main-left">
          <h2 class="landing-main-section-header">Already have an account?</h2>
          <input type="text" name="" value="" placeholder="Email" class="landing-input" id='login-email'>
          <input type="password" name="" value="" placeholder="Password" class="landing-input" id='login-password'>
          <button type="button" name="button" class="button landing-button" id="login-button">Login</button>
        </section>

        <section id="landing-main-right">
          <h2 class="landing-main-section-header">Need to create an account?</h2>
          <input type="text" name="" value="" placeholder="First Name" class="landing-input" required>
          <input type="text" name="" value="" placeholder="Last Name" class="landing-input" required>
          <input type="text" name="" value="" placeholder="Email" class="landing-input" required>
          <input type="password" placeholder="Password" id="password" class="landing-input" required>
          <input type="password" placeholder="Confirm Password" id="confirm_password"  class="landing-input"required>
          <a href="index.html"><button type="button" name="button" class="button landing-button" id="register-button">Create Account</button></a>
        </section>
      </div>
    </section>

    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script type="text/javascript" src="../lib/landing.js"></script>
  </body>
</html>
